* text=auto

# Sources
*.cpp   text diff=cpp
*.hpp   text diff=cpp
*.md    text diff=markdown

# Files to be exported as ignored
.gitattributes  export-ignore
.gitignore      export-ignore

# Linguist
*.md    linguist-detectable=true
